.infobox {
	display: none;
}

.thumbcaption {
	display: none;
}

.thumb {
    margin-top: 55px;
}

.thumbinner {
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
}

h2 > #K.C3.A4llor {
    display: none;
}