body {
	font: 0.875em Georgia, "Times new roman", serif;
	background-color: #f8f8f8;
}

p {
	line-height: 1.5;
}

p.test {
    color: #f0f;
}

ul, ol, li {
	display: none;
}

a {
    color: #000;
    text-decoration: none;
}

h2 {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

sup {
    display: none;
}

#toc {
    display: none;
}

.vislink {
    color: rgb(255, 153, 51);
    font-weight: bold;
}

.infobox {
	display: none;
}

.thumbcaption .magnify {
    display: none;
}
.thumbcaption {
    padding-top: 5px;
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
}

.thumb {
    margin-top: 55px;
}

.thumbinner {
    margin: 0 auto;
}

.thumbimage {
	border: 7px solid #fff;
	-webkit-box-shadow: 0 2px 5px #777;
	box-shadow: 0 2px 5px #777;
}

