
body {
	font: 0.875em Georgia, "Times new roman", serif;
	background-color: #f8f8f8;
    padding-top: 35px;
}

p, td {
	line-height: 1.5;
}

/*
p.test {
    color: #f0f;
}

ul, ol, li {
	display: none;
}



h2 {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

sup {
    display: none;
}

#toc {
    display: none;
}
*/

a {
    color: #000;
    text-decoration: none;
}

table {
	width: 100%;
}

img {
    width: 300px;
    height: 132px;
}

th {
    background-color: #9ebbcc;
    text-color: #000;
    text-shadow: 0 1px #fff;
}

caption {
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.375em;
    padding-top: 20px;
}

caption.first {
    padding: 0 0 10px 0;
}

td {
    text-align: center;
}

.vislink {
    color: rgb(255, 153, 51);
    font-weight: bold;
}

