
body {
	font: 0.875em Georgia, "Times new roman", serif;
	background-color: #f8f8f8;
	margin: 0;
}

p {
	line-height: 1.5;
	padding: 0 10px 0 10px;
}

p.test {
    color: #f0f;
}

ul {
	list-style: none;
	padding: 0 10px 0 10px;
}

ol li {
	margin-bottom: 10px;
}

ol {
	padding: 0 10px 0 30px;
}
.smwttcontent {
	display: none;
}

.smwttinline {
	display: inline-block;
}
a {
    color: #000;
    text-decoration: none;
}

h2 {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
	padding: 0 10px 0 10px;
}

sup {
    display: none;
}

#toc {
    display: none;
}

.vislink {
    color: rgb(255, 153, 51);
    font-weight: bold;
}

.infobox {
	display: none;
}

.thumbcaption .magnify {
    display: none;
}
.thumbcaption {
    padding-top: 5px;
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
}

.thumb {
    width: 100%;
	background-color: #fff;
	padding: 10px 0 5px 0;
	border-bottom: 1px solid #aaa;
	-webkit-box-shadow: 0 2px 5px #ddd;
}

.thumbinner {
    margin: 0 auto;
	width: 301px !important;
}

.thumbimage {
	border: 7px solid #fff;
	-webkit-box-shadow: 0 2px 5px #777;
    width: 287px;
	height: auto;
    margin: 0 auto;
	box-shadow: 0 2px 5px #777;
}

#indicator {
	width: 300px;
	height: 25px;
	margin: 0 auto;
	padding-bottom: 5px;
}

